{# src/Wedding/PlateformBundle/Resources/views/Advert/index.html.twig #}
{% extends "GoogleBundle::layout.html.twig" %}
{% block stylesheets %}
      {{parent()}}
{% endblock %}

{% block javascripts %}
      {{parent()}}
{% endblock %}


{% block inner %}
<section id="container" data-locale="{{locale}}" data-support="{{support}}"> 

    <!--main content start-->
    <section id="main-content">
        
        <section class="wrapper">

            <!--mini statistics end-->
            <div class="row">
                
                  <div class="btn-row text-center">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-default select_range active">
                            <input type="radio" name="select_range" value="day" id="option1" checked="checked"> Day
                        </label>
                        <label class="btn btn-default select_range">
                            <input type="radio" name="select_range" value="week" id="option1"> Week
                        </label>
                        <label class="btn btn-default select_range">
                            <input type="radio" name="select_range"value="month" id="option2"> Month
                        </label>

                    </div>
                </div>

                <div class="col-xs-12">
                    <!--earning graph start-->
                    <section class="panel">

                        <header class="panel-heading">
                            General Table
                            <span class="tools pull-right">
                                <a href="javascript:;" class="fa fa-chevron-down"></a>
                                <a href="javascript:;" class="fa fa-cog"></a>
                                <a href="javascript:;" class="fa fa-times"></a>
                             </span>
                        </header>
                    	
                        <div class=="panel-body">
                            <table class="table table-inverse">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Clicks</th>
                                        <th>Ctr</th>
                                        <th>Impressions</th>
                                        <th>Positions</th>
                                    </tr>
                                </thead>

                                <tbody>

                                {% for key,stat in stats %}
                                    {% if stat != null %}
                                        <tr>
                                            <th scope="row">{{stat.getDate}}</th>
                                            <td>{{stat.getClicks}}</td>
                                            <td>{{stat.getCtr}}</td>
                                            <td>{{stat.getImpressions}}</td>
                                            <td>{{stat.getPosition}}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}

                                </tbody>
                            </table>
                    
                          
                        </div>

                    </section>

                </div>

            </div>

            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            Line Chart
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <a href="javascript:;" class="fa fa-cog"></a>
                            <a href="javascript:;" class="fa fa-times"></a>
                         </span>
                        </header>
                        <div class="panel-body">
                            <div id="graph-line"></div>
                        </div>
                    </section>
                </div>
            </div>
        <!--right sidebar end-->
        </section>

    </section>

</section>


{% endblock %}