{# src/Wedding/PlateformBundle/Resources/views/Advert/index.html.twig #}
{% extends "GoogleBundle::layout.html.twig" %}
{% block stylesheets %}
      {{parent()}}
{% endblock %}

{% block javascripts %}
      {{parent()}}
{% endblock %}


{% block body %}
	<div class="request">
		<a class='login' href="{{ authUrl }}">Connect Me!</a>
	</div>
{% endblock %}