<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags always come first -->
        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">       
 
        <title>{% block title %}Welcome!{% endblock %}</title>
    
        {% stylesheets '@bootstrap_css' '@google_css' '@morris_chart_css' %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
        {% endstylesheets %}

    
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        {% block body %}{% endblock %}

        {% javascripts '@jquery' '@bootstrap_js' '@morris_chart_js' '@google_js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {#% stylesheets 'bundles/Google/js/*' filter='cssrewrite' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endstylesheets %#}

    </body>
</html>