{% extends "::base.html.twig" %}

{% block body %}

<section>

	{% include 'GoogleBundle:Components:header.html.twig' %}
	{% include 'GoogleBundle:Components:side.html.twig' %}

	{% block inner %}
	{% endblock %}

</section>


{% endblock %}
