<aside>
    <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a class="active" href="index.html">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-laptop"></i>
                        <span>Layouts FR</span>
                    </a>
                    <ul class="sub">
                        <li><a href="{{path('google_home', {'_locale': 'fr', 'support':'all'}) }}">All </a></li>
                        <li><a href="{{path('google_home', {'_locale': 'fr', 'support':'desktop'}) }}">Desktop </a></li>
                        <li><a href="{{path('google_home', {'_locale': 'fr', 'support':'mobile'}) }}">Mobile </a></li>
                        <li><a href="{{path('google_home', {'_locale': 'fr', 'support':'tablet'}) }}">Tablet </a></li>

                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-laptop"></i>
                        <span>Layouts EN</span>
                    </a>
                    <ul class="sub">
                        <li><a href="{{path('google_home', {'_locale': 'en', 'support':'all'}) }}">All </a></li>
                        <li><a href="{{path('google_home', {'_locale': 'en', 'support':'desktop'}) }}">Desktop </a></li>
                        <li><a href="{{path('google_home', {'_locale': 'en', 'support':'mobile'}) }}">Mobile </a></li>
                        <li><a href="{{path('google_home', {'_locale': 'en', 'support':'tablet'}) }}">Tablet </a></li>

                    </ul>
                </li>
                
                <li>
                    <a href="login.html">
                        <i class="fa fa-user"></i>
                        <span>Login Page</span>
                    </a>
                </li>
            </ul>            </div>
        <!-- sidebar menu end-->
    </div>
</aside>